.VictoryScreen {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.VictoryScreen-box {
    border: solid 4px rgb(56 189 248);
    width: 60%;
    max-width: 400px;
    min-height: 300px;
}



.VictoryScreen-player {
    margin: 3rem auto;
    font-weight: 900;
}

.VictoryScreen-replay {
    border: none;
    width: 40%;
    height: 6vh;
    border-radius: 15px;
    font-size: 2rem;
    
}
