.board {
    width: 100%;
    color: #FAF7F0;
    max-width: 750px;
    max-height: 750px;
    transition: ease all .5s;
}

@media (max-width: 1080px) {
    .board {
        margin: 1.5rem auto;
    }
}

.cell {
    display: flex;
    justify-content: center;
    min-width: 100%;

    box-shadow:    -5px 0 0 0 rgb(56 189 248),
                    5px 0 0 0 rgb(56 189 248),
                    0 -5px 0 0 rgb(56 189 248),
                    0 5px 0 0 rgb(56 189 248);
}